@page "/secondPage"

<div class="container">
    <h3>SecondPage</h3>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aspernatur iusto quibusdam
        commodi maxime possimus consequatur ipsa dolore. Nesciunt sit ut necessitatibus! Quo atque cupiditate autem omnis, molestiae corporis reiciendis.
    </div>

</div>

<ParallaxElement Photo="assets/background2.jpg" TextOnPhoto="An ERP system that you love." />


<Footer CompanyName="VaderERP" CompanyClaim="Made with love in the Home Office" />

@code {

}
