<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="" class="brand-logo">VaderERP</a>
      <ul class="right hide-on-med-and-down">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="secondPage">
                About
            </NavLink>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="secondPage">
                About
            </NavLink>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

@code {
    
}
